<!DOCTYPE html>
<html>
    
    <head>
        <title>Page Title</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id ="div1" class="section" style="text-align: center;">
            <h1 id="h1">Chidera L. Idabor</h1>
            <h2>Artificial Intelligence Student</h2>

            <p>
                An Artificial Intelligence graduate student<br>
                at Kent State University with a passion for building <br>
                intelligent systems and leading projects that drive real-world impact.
            </p>


        </div>
        <div>
            <div id="profile">
                <img src = "../images/profile_pic.png">

            </div>

            <div id="div2" class="section" style="text-align: center;">
                <h1 style="text-align: left;">About Me</h1>
                <p style="text-align: left;">I’m Chidera Idabor, an Artificial Intelligence graduate student at<br>
                    Kent State University with a background in software engineering.<br>
                    I’ve built embedded systems at TechnipFMC and fine-tuned generative AI models<br>
                    at Babcock & Wilcox, developing solutions that merge creativity with technical precision.<br>
                    My focus is on designing intelligent systems, optimizing workflows, and delivering results<br>
                    that bring innovation to life.
                </p>
                
            </div>

        </div>
        <div id="div3" class="section">
            <h1 style="text-align: center;">Projects</h1>

        </div>
        <div class="section">
            <h1 style="text-align: center;">Contact</h1>
        </div>


        
    </body>
</html>